<div class="navi">
    <div class="navi">
        <ul id="main-menu" class="sm sm-simple">

            <li>
                <a href="#">ESPORTES</a>
                <ul id="Esportes"></ul>
            </li>

            <li>
                <a href="#">HOMENS</a>
            <ul>
                 <li>
                    <a href='#'>CALÇADOS</a>
                    <ul>
                        <li><a href='#'>CHUTEIRA</a></li>
                        <li><a href='#'>CHINELO</a></li>
                        <li><a href='/nav/genero/0002/homens/0003/calcados/0082/chuteira-campo'>CHUTEIRA DE CAMPO</a></li>
                        <li><a href='/nav/genero/0002/homens/0003/calcados/0136/chuteira-society'>CHUTEIRA SOCIETY</a></li>
                        <li><a href='/nav/genero/0002/homens/0003/calcados/0084/tenis'>TENIS</a></li>
                    </ul>
                </li>

                <li>
                    <a href='#'>ROUPAS</a>
                    <ul>
                        <li><a href='#'>CAMISA DE TIMES</a></li>
                        <li><a href='#'>BERMUDAS</a></li>
                    </ul>
                </li>
            </ul>
         </li>
            
            

            
            <li>
                <a href="#">MULHERES</a>
                    <ul>
                        <li>
                            <a href='#'>CALÇADOS</a>
                        </li>
                        <li>
                            <a href='#'>ROUPAS</a>
                            <ul>
                                <li><a href='#'>CAMISETAS</a></li>
                                <li><a href='#'>CALÇAS</a></li>
                                <li><a href='#'>BERMUDAS</a></li>
                            </ul>
                        </li>
                    </ul>
            </li>
            
            <li>
                <a href="#">CALÇADOS</a>

                <ul>
                    <li>
                        <a href='#'>MARCAS</a>
                        <ul class="marcas"></ul>
                    </li>
                </ul>

            </li>


            <li>
                <a href="#">ROUPAS</a>
                <ul>
                    <li>
                        <a href='#'>MARCAS</a>
                        <ul class="marcas"></ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">TIMES</a>
                <ul>
                    <li>
                        <a href="#">NACIONAIS</a>
                        <ul id="clubesnacionais"></ul>
                    </li>

                    <li>
                        <a href="#">INTERNACIONAIS</a>
                        <ul id="clubesinternacionais"></ul>
                    </li>

                    <li>
                        <a href="#">SELEÇÕES</a>
                        <ul id="selecoes"></ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">MARCAS</a>
                <ul class="marcas"></ul>
            </li>
        </ul>
    </div>
</div>
